*,
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

label {
  margin-left: 1rem;
}

.button {
  margin: 1rem;
  padding: 1rem;
}

.checkbox {
  margin: 2rem;
}

.wrapper-grid {
  display: grid;
  grid-template-columns: 100%;
}
